p{
    background-color: rgb(249, 95, 95);
}

a{
    background-color: rgb(111, 218, 218);
}

div{
    background-color: rgb(98, 98, 174);
}

span{
    background-color: rgb(95, 118, 119);
}