table{
    border: 2px solid black;
    
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid black;
    
}
dl{
    background: rgb(142, 244, 244);
}
dt{
    background-color: rgb(212, 103, 103);
}
dd{
    background-color:rgb(154, 213, 95) ;
}