aside{
  background-color: rgb(101, 224, 224);
}

article{
  background-color: rgb(183, 136, 227);
}

figure{
  background-color: rgb(212, 143, 94);
}

.one{
  color: rgb(255, 2, 2);
}

nav{
  color: rgb(99, 185, 14);
}
.two{
  background-color: rgb(206, 95, 154);
}

footer{
  background-color: rgb(150, 129, 129);d
}
